@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lato');

body {
  height: 100vh;
  margin: 0;
  background-color: #f2e5e4;
  color: #D3D3D3;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.parallax {
      z-index: 1;
  }

.img-circle {
    border-radius: 50%;
}

p {
    line-height: 20px;
    background-color: #f2e5e4;
  }

nav li {
  display: inline-block;
}

nav li a:hover {
    background:  #e5e5e5;

}

nav li a {
    margin: 0 35px;
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #333;
}

h1, h2 {
  font-family: 'Indie Flower', cursive;
}

#main-content{
  background: #f2e5e4;
  text-align: center;
  padding: 25px 0;
}

div.image img {
  height: 200px;
  width: 200px;
}

.centered-vertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
